[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
einops = "==0.6.0"
matplotlib = "==3.6.2"
ml-collections = "==0.1.1"
numpy = "==1.24.1"
opencv-contrib-python = "==4.6.0.66"
pandas = "==1.5.2"
pillow = "==9.4.0"
scikit-image = "==0.19.3"
scipy = "==1.10.1"
segmentation-models-pytorch = "==0.3.1"
streamlit = "==1.17.0"
torch = "==1.13.1"
torchvision = "==0.14.1"
tqdm = "==4.64.1"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
